{%  load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static '/images/love.png'  %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    

    
	<title>Password reset</title>
</head>
<body>
	<div class="container">
		<form method="POST">
		{% csrf_token %}
		    <br>
			<fieldset class="form-group">

				<legend class="border-bottom mb-4"> Reset Password</legend>
				{{form|crispy}}
				
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info">Request reset password</button>
				
			</div>
			
		</form>
		
		
	</div>


</body>
</html>