@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.hello-msg{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
    
  }

.col-md-6{
  
  border:2px;
}

h5{
  color: black;
}
.navbar{

  
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  color: white;

}
body {
  padding-top: 0px;
  font-size: 12px;
  color: #777;
  background: #f9f9f9;

  
}
button{
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  color: white;

}

.bg-white {
  background-color: #fff;
}

.friend-list {
  list-style: none;
  margin-left: -40px;
  
  
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  
  margin-right: 0px;
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name, 
.friend-list li a .friend-name:hover {
  color: #777;
  padding-left: 50px;
}

.friend-list li a .last-message {
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}



.chat {
  list-style: none;
  margin: 0;

 
}

.chat-message{
  background: #f9f9f9; 
  padding-right: 10px;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100em;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  left: -10px;
  margin-left: 10px;
  background-color: rgb(49,54,63)!important;
  /*border:2px solid rgb(24, 26, 31);*/

  
  border-radius: 100px;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  
  
}


.chat li .chat-body p {
  margin: 0;
}



.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  right: 50px;
  margin-left: 50px;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  color: white;
  
  border-radius: 100px;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 550px;
  right: 0;
  padding: 15px;
  
  color: white;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
footer p {
  margin: 10px 0;
}

footer i {
  color: red;
  font-family: cursive;
}